@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-family: font-family: 'Spartan', sans-serif;;
}
.container {
  padding: 1rem;
}
nav {
  background: #00adb5;
  height: 3rem;
  line-height: 3rem;
  color: white;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
#itemForm label {
  display: block;
  margin-bottom: 1rem;
}
#itemForm input {
  height: 2rem;
  text-align: center;
  border: 1px solid black;
}
#quantityInput, #priceInput {
    width: 3rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#addItemsButton {
  border: unset;
  background: #00adb5;
  color: #fff;
  padding: 0.7rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 7rem;
}

#itemsDiv {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.item {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  background: rgb(255, 255, 255);
  margin-bottom: 0.5rem;
}
.checkbox {
  height: 100%;
  width: 2.5rem;
  background: #00fff5;
}
.itemInfo {
  text-align: center;
}
.deleteBtn {
  margin: 0 0 0 auto;
  border: unset;
  background: #00fff5;
  color: white;
  font-size: 0.8rem;
  width: 2.5rem;
  height: 100%;
}
.deleteBtn:active {
  margin-top: 3px;
}
.purchased {
  background: #393e46;
  color: white;
}
.purchased p {
  text-decoration: line-through;
}
