@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-family: font-family: 'Spartan', sans-serif;;
}
nav {
  background: #00adb5;
  height: 3rem;
  line-height: 3rem;
  color: white;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
#itemForm label {
  display: block;
  margin-bottom: 1rem;
}
#itemForm input {
  height: 2rem;
  text-align: center;
  border: 1px solid black;
}
/* #quantityInput, #priceInput {
    width: 1rem;
} */
#addItemsButton {
  border: unset;
  background: #00adb5;
  color: #fff;
  padding: 0.5rem;
}
#itemsDiv {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.item {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  background: lemon;
  margin-bottom: 0.5rem;
}
.checkbox {
  height: 70%;
  width: 1.5rem;
  background: #00fff5;
}
.itemInfo {
  text-align: center;
}
.deleteBtn {
  margin: 0 0 0 auto;
  border: unset;
  background: #00fff5;
  color: white;
  font-size: 0.8rem;
  width: 2.5rem;
  height: 70%;
}
.deleteBtn:active {
  margin-top: 3px;
}
.purchased {
  background: #393e46;
  color: white;
}
.purchased p {
  text-decoration: line-through;
}
